*{
	list-style: none;
}
body{
	font-family: 'Poppins';
}
.hiddensection{
	display: none;
}
.header{
	height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	position: fixed !important;
}
.headerchild{
	background-color: #FFFFFF;
}
.inmedia{
	display: none;
}
.headermenuopen{
	font-weight: 500;
	font-size: 20px;
	color: #526DB4;
}
.menuparent{
	width: 60%;
	margin-right: 5rem;
	justify-content: flex-end;
}
.inmediaparent{
	margin-top: 300px;
	background-color: white;
	padding-left: 0;
}
.headerlogoparent{
	margin-left: 5rem;
}
.dropdownbutton{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #565555 !important;
	margin-left: 40px;
}
.dropdown-item{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #565555 !important;
}
.li a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #565555;
	text-decoration: none;
}
.active a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #565555;
	text-decoration: none;
}
.active{
	margin-left: 55px;
	border-bottom: 2.5px solid #526DB4;
}
.li2{
	margin-left: 55px;
	border-bottom: 2.5px solid white;
}
.li2 a{
	text-decoration: none;
}
.menu-ul{
	background-color: #FFFFFF;
}
.li{
	margin-left: 55px;
	border-bottom: 2.5px solid white;
}
.menu-ul li:hover{
	border-bottom: 2.5px solid #526DB4;
}
.headerchild{
	justify-content: space-between;
}
.allsection{
	margin: 0;
	flex-direction: row;
}
.left{
	margin-top: 100px;
	width: 50%;
	height: 795px;
}
.right{
	width: 50%;
	height: 795px;
}
.allcontactinfo h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 63px;
	text-align: center;
}
.info{
	display: flex;
	align-items: center;
	margin-top: 35px;
}
.infotext{
	margin:0px 0px 0px 30px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	text-decoration: none;
	color: #464646;
}
.map{
	margin-top: 100px;
}
.footer{
	background-color: #526DB4;
	padding: 50px 5rem 50px 5rem;
}
.footer-top{
	justify-content: space-between;
	height: 50%;
	display: flex;
}
.footermenuparent{
	justify-content: space-between;
	width: 39%;
}
.footermenu{
	text-decoration: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0;
}
.with-margin{
	margin-left: 10%
}
.footer-bottom{
	height: 50%;
	justify-content: flex-end;
}
.logos .wmargin{
 	margin-left: 20px;
}
.textfollow{
	margin-right: 20px;
}
.footermenuparent{
	display: flex;
}
.bottomparent{
	align-items: center;
}
@media (max-width: 991px){
	.headerchild{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.headerlogo{
		margin-left: 0%;
	}
	.inmedia{
		display: inherit;
	}
	.menuparent{
		margin: 0;
		background-color: white;
	}
	.li,.active{
		margin-top: 50px;
	}
	.active{
		border-bottom: none;
		margin-left: 55px;
		color: #526DB4;
	}
	.active a{
		color: #526DB4;
	}
	.li a{
		color: #526DB4;
	}
	.li2{
		margin-top: 50px;
	}
	.allsection{
		flex-direction: column-reverse;
	}
	.left,.right{
		width: 100%;
	}
	.footer-top{
		display: block !important;
		height: auto;
	}
	.footer-bottom{
		display: flex;
		justify-content: inherit;
		height: auto;
		margin-top: 40px;
	}
	.footermenuparent{
		display: block !important;
	}
	.with-margin{
		margin-left: 0px;
	}
	.bottomparent{
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;
	}
	.terms,.polic{
		margin-top: 40px;
	}
	.girls{
		display: none;
	}
	.groupimg2{
		display: flex;
	}
	.dropdownbutton{
		margin-left: 50px;
	}	
	.burger{
		margin-right: 5rem;
	}
}
