*{
	list-style: none;
}
body{
	font-family: 'Poppins';
}
.header{
	height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}
.big{
	justify-content: space-between;
	width: 70%;
}
.menu-ul{
	margin: auto;
}
.menu-ul li{
	margin-left: 55px;
}
.menu-ul li a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: #565555;
	text-decoration: none;
}
.menu-ul li a:hover{
	text-decoration: underline;
}
.homesection1{
	height: 900px;
	background: #BDCF48;
	width: 1920px;
	background-image: url(../images/bacgroundimage.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.globalfirst{
	width: 1920px;
	height: 1000px;
}
.firstgirl{
	position: absolute;
	left: 55px;
	top: 153px;
}
.cloud1{
	position: absolute;
	left: 562px;
	top: 135px;
}
.phones{
	position: absolute;
	left: 1269px;
	top: 150px;
	right: 200px;
}
.textunderphones{
	position: absolute;
	left: 796px;
	top: 678px;	
	width: 70%;
}
.textunderphones p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 27px;
	line-height: 42px;
	color: #464646;
}
.appstore{
	position: absolute;
	left: 997px;
	top: 756.24px;
	filter: drop-shadow(0px 8.13139px 12.1971px rgba(0, 0, 0, 0.25));
}
.googleplay{
	position: absolute;
	left: 1271.1px;
	top: 755px;
	right: 404px;
}
.homesection2{
	height: 1257px;
	background-color: white;
}
.textarea{
	height: 312px;
	width: 1352px;
	margin-top: 315px;
}
.textsection2 h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	margin-bottom: 62px;
}
.textsection2 p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 48px;
}
.carddiv{
	margin-top: 43px;
}
.carddiv2{
	margin-top: 54px;
}
.card{
	border: none !important;
	height: auto;
}
.childcards2{
	width: 80%;
}
.cloud2{
	top: 2156px;
	position: absolute;
	left: 615px;
}
.phones2{
	position: absolute;
	width: 580.22px;
	height: 717px;
	left: 190px;
	top: 2375px;
	z-index: 999;
}
.purpule{
	position: absolute;
	height: 427px;
	top: 2836px;
	background-color: #8258A6;
	width: 1920px;
	display: flex;
	align-items: flex-end;
}
.purpule img{
	position: absolute;
	z-index: 999;
	bottom: 0;
	right: 0;
}
.texts3{
	position: absolute;
	width: 866px;
	height: 365px;
	left: 202px;
	display: flex;
	align-items: flex-end;
}
.texts3 p{
	color: #FFFFFF;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 48px;
	margin: 0;
	position: absolute;
	bottom: 55px;
}