*{
	list-style: none;
}
body{
	font-family: 'Poppins';
	height: 100%;
}
.header{
	height: 100px;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	position: fixed;
}
.big{
	justify-content: space-between;
}
.menu-ul li a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	color: #565555;
	text-decoration: none;
}
.active{
	border-bottom: 2.5px solid #526DB4;
}
.menu-ul .secondli{
	margin-left: 55px;
	border-bottom: 2.5px solid white;
}
.menu-ul li:hover{
	border-bottom: 2.5px solid #526DB4;
}
.section1{
	background-color: #BDCF48;
	background-image: url(../images/bacgroundimage.png);
	background-size: 100% 100%;
}
.child1section{
	width: 100%;
}
.centercontent{
	width: 90%;
}
.childofcontent{
	margin-top: 100px;
	display: flex;
	align-items: flex-end;
}
.firstgirl{
	width: 90% !important;
}
.phonestext{
	width: 40%;
}
.phones{
	width: 60%;
	margin-bottom: 2%;
	margin-top: 1rem;
}
.homesection1text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	margin-bottom: 3%;
}
.homesectiontextmedia{
	display: none;
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}
.appstore,.googleplay{
	margin-bottom: 2%;
}
.texrandbuttons{
	text-align: center;
	margin-left: -84%;
}
.buttons{	
	justify-content: center;
}
.homesection2{
	background-color: white;
}
.textarea{
	margin-top: 16%;
}
.textsection2 h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 72px;
	margin-bottom: 62px;
}
.textsection2 p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 48px;
}
.carddiv{
	margin-top: 43px;
}
.carddiv2{
	margin-top: 54px;
}
.card{
	border: none !important;
	height: auto;
}
.childcards2{
	width: 80%;
}
.cloudsection3{
	width: 40%;
}
.cloudsection4{
	width: 40%;
}
.cloudhome4{
	width: 90%;
}
.cloudhome3{
	width: 90%;
	margin-top: 3rem;
}
.section3child{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-image: url(../images/purpule.png);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 100%;
	background-size: 100%;
}
.bottomcontent{
	width: 90%;
}
.home3left{
	width: 50%;
}
.section3text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	color: white;
	margin: 0;
}
.phones3{
	width: 60%;
}
.home3right{
	width: 50%;
	display: flex;
	align-items: flex-end;
}
.cloudsection4{
	width: 30%;
}
.home4bottom{
	background-image: url(../images/orange.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	display: flex;
}
.section4child{
	justify-content: space-between;
	width: 90%;
}
.home4left{
	width: 40%;
	display: flex;
	align-items: flex-end;
}
.girl3{
	width: 90%;
}
.section4right{
	width: 50%;
}
.phones4{
	width: 60%;
}
.phones4parent{
	text-align: right;
}
.section4text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	color: white;
	margin: 0;
}
.home5{
	height: 1233px;
}
.section5top{
	height: 931px;
	background-image: url(../images/bgsection5.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	align-items: flex-end;
}
.girl5{
	height: 931px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.girl5 img{
	width: 100%;
}
.section5bottom{
	height: 302px;
	background-color: #526DB4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.section5text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	color: white;
}
.googleplay5 img{
	width: 30%;
}
.appstore5 img{
	width: 30%;
}
.topbento{
	height: 797px;
	background-image: url(../images/bgsection6.png);
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}
.parentalltext{
	width: 80%;
}
.parentalltext .info{
	margin-bottom: 57px;
}
.parentalltext .divsection6{
	margin-bottom: 57px;
}
.divsection6 p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
}
.parentalltext p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	color: #464646;
}
.arrow{
	width: 50%;
}
.englishbento{
	width: 50%;
}
.phonestoptext{
	width: 70%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	color: #464646;
}
.globaltextsparent{
	display: flex;
	justify-content: center;
}
.large-phones{
	margin-top: 150px;
}
.phonesparent{
	margin-top: 80px;
}
.textinphones{
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.phoneinphones{
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.arajinheraxos{
	width: 80%;
}
.erordheraxos{
	width: 80%;
	margin-top: 35%;
}
.chorordheraxos{
	width: 80%;
	margin-top: 50%;
}
.with-margin{
	margin-top: 40%;
}
.childoftextphones{
	text-align: right;
}
.leftinphones,.rightinphones{
	width: 40%;
}
.borderimg{
	width: 10%;
}
.orange{
	color: #EAA92F;
}
.mec{
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
}
.poqr{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #464646;
}
.green{
	color: #B8D137;
}
.purpule{
	color: #8257A6;
}
.erkrordheraxos{
	width: 90%;
}
.childoftextphones2{
	text-align: left;
}
.quiz,.texting{
	margin-left: 1rem;
}
.texting{
	margin-top: 50%;
}
.hingerordheraxos,.hashtag{
	margin-top: 100%;
}
.vecerordheraxos,.question{
	margin-top: 50rem;
}
.hingerordheraxos{
	width: 90%;
}
.vecerordheraxos{
	width: 90%;
}
.yoterordheraxos{
	width: 90%;
}
.definition,.yoterordheraxos{
	margin-top: 60rem;
}
@media(max-width: 770px){
	.menu-ul li a{s
		font-size: 16px;
	}
	.big img{
		width: 120px;
		margin-right: 20px;
	}
	.footermenu{
		font-size: 19px;
	}
	.footermenuparent{
		justify-content: flex-end;
	}
	.footer-top img{
		width: 120px;
	}
	.logos img{
		width: 25px;
	}
	.menu-ul .secondli{
		margin-left: 20px;
	}
}
@media (min-width: 1921px){
	.phones{
		width: 60%;
	}
}
@media (min-width: 2030px){
	.phones{
		width: 60%;
	}
}
@media (max-width: 1800px){
	.homesection1text{
		font-size: 20px;
	}
	.phones{
		width: 90%;
	}
}
@media (max-width: 1500px){
	.home3{
		background-size: 50%;
	}
}
@media(max-width: 1400px){
	.textsection2 p{
		font-size: 25px;
	}
	.textsection2 h2{
		font-size: 35px;
	}
}
@media (max-width: 1137px){
	.section3text{
		font-size: 22px;
	}
	.phonesparent{
		display: block !important;
	}
	.borderimg{
		display: none;
	}
	.leftinphones,.rightinphones{
		width: 100%;
	}
}
@media (max-width: 900px){
	.section3text{
		font-size: 20px;
	}
}
@media (max-width: 1400px){
	.section4text{
		font-size: 25px;
	}
}
@media (max-width: 830px){
	.section4text{
		font-size: 20px;
	}
}
@media (max-width: 660px){
	.section4text{
		font-size: 16px;
	}
}
@media (max-width: 1250px){
	.homesection1text{
		display: none;
	}
	.appstore,.googleplay{
		margin-bottom: 2%;
		width: 50%;
	}
	.texrandbuttons{
		margin-left: 0px;
	}
	.girl1{
		width: 50%;
	}
	.phonestext{
		width: 50%;
	}
	.phones{
		width: 60%;
	}
	.homesectiontextmedia{
		display: inherit;
		margin-top: 150px;
	}
	.firstgirl{
		width: 100%;
	}
	.childofcontent{
		margin-top: 0px;
	}
}
@media (max-width: 500px){
	.parentalltext p{
		font-size: 25px;
	}
}
@media (max-width: 710px){
	.section3text{
		font-size: 16px;
	}
}